<script lang="ts">
    import '../app.postcss';
    import { datadogRum } from '@datadog/browser-rum';
    import Header from "$lib/header/Header.svelte";
    import {initializeStores, Toast} from "@skeletonlabs/skeleton";

    initializeStores();


    datadogRum.init({
        applicationId: '7138a01e-f62b-4a72-a46d-4132ca0b953b',
        clientToken: 'pub4aaaee9e8cee5b65764042f5ce93e88d',
        // `site` refers to the Datadog site parameter of your organization
        // see https://docs.datadoghq.com/getting_started/site/
        site: 'datadoghq.com',
        service: 'choose-your-own-adventure',
        env: 'prod',
        // Specify a version number to identify the deployed version of your application in Datadog
        // version: '1.0.0',
        sessionSampleRate: 100,
        sessionReplaySampleRate: 100,
        trackUserInteractions: true,
        trackResources: true,
        trackLongTasks: true,
        defaultPrivacyLevel: 'allow',
        allowedTracingUrls: [/^https:\/\/[\w-_]+\.alexk8s\.com/,"https://cyoa-ai.alexk8s.com"],
    });
</script>

    <Header/>
    <slot/>
<Toast/>
