<script>
	import DemoMap from "./DemoMap.svelte";
</script>

<style lang="postcss">
	.section {
		@apply my-5 space-y-2;
	}
	.section h2 {
		@apply text-2xl font-bold;
	}
</style>
<div class="container mx-auto p-2">
	<div class="section">
		<p class="text-3xl lg:text-5xl font-bold">Welcome to CYOA-AI: Your Personalized Journey Awaits</p>
		<p>Unleash Your Imagination</p>
		<p>CYOA-AI is not just a game; it's a portal to endless worlds shaped by your imagination. Here, your journey begins with a simple prompt and unfolds into a story uniquely crafted just for you. Whether you dream of exploring mystical lands, embarking on daring quests, or solving intricate mysteries, CYOA-AI brings your wildest adventures to life.</p>
	</div>

	<div class="section">
		<h2 >How It Works</h2>
		<p><span class="font-bold">Enter Your Prompt</span>: Start with an idea, a scenario, or a theme that intrigues you. It could be anything from "a haunted castle in the mist" to "an intergalactic space mission."</p>
		<p><span class="font-bold">Generate Your Story</span>: Our advanced storytelling engine takes your prompt and spins a captivating narrative, delivered to you in engaging, bite-sized chunks.</p>
		<p><span class="font-bold">Make Your Choices</span>: At the end of each section, you'll face pivotal decisions. Choose wisely, as each choice influences the direction and outcome of your adventure.</p>
		<p><span class="font-bold">Experience Multiple Endings</span>: No two journeys are the same. With countless possible paths and endings, CYOA-AI ensures a fresh, exciting experience every time you play.</p>
	</div>

	<div class="section">
		<h2>Features</h2>
		<div class="lg:ml-3 space-y-2">
		<p><span class="font-bold">Infinite Possibilities</span>: With every prompt, create a new world and storyline.</p>
		<p><span class="font-bold">Immersive Storytelling</span>: High-quality, interactive narratives that keep you hooked.</p>
		<p><span class="font-bold">Personalized Experience</span>: Your choices shape the journey, making it uniquely yours.</p>
		<p><span class="font-bold">Community Creations</span>: Share your adventures and discover prompts from other users for even more inspiration.</p>
		</div>
	</div>
	<DemoMap/>
	<div class="section">
		<h2>Get Started</h2>
		<p>Ready to embark on your next great adventure? It's as easy as typing a few words. Begin your journey now and see where your imagination takes you!</p>
		<a href="/adventure" class="btn variant-filled">Start Your Adventure</a>
	</div>
</div>