<script lang="ts">

    import type {AdventureNode} from "$lib/types";
    import {onMount} from "svelte";
    import Map from "./adventure/[id]/map/Map.svelte";

    const COMPLETE_MAP: Partial<AdventureNode>[] = [
        {id: "1", title: "Start", depth: 0, adventureId: "missing"},
        {id: "2", parentId: "1", title: "Follow the path", depth: 1},
        {id: "3", parentId: "1", title: "Go left", depth: 1},
        {id: "4", parentId: "1", title: "Go right", depth: 1},
        {id: "5", parentId: "2", title: "Enter the cave", depth: 2},
        {id: "6", parentId: "2", title: "Climb the mountain", depth: 2},
        {id: "7", parentId: "3", title: "Cross the bridge", depth: 2},
        {id: "8", parentId: "3", title: "Swim across the river", depth: 2},
        {id: "9", parentId: "4", title: "Take the stairs", depth: 2},
        {id: "10", parentId: "4", title: "Ride the elevator", depth: 2},
        {id: "11", parentId: "5", title: "Find the treasure", depth: 3},
        {id: "12", parentId: "5", title: "Fight the dragon", depth: 3},
        {id: "13", parentId: "6", title: "Discover the secret", depth: 3},
        {id: "14", parentId: "6", title: "Face the storm", depth: 3},
        {id: "15", parentId: "7", title: "Solve the riddle", depth: 3},
        {id: "16", parentId: "7", title: "Defeat the troll", depth: 3},
        {id: "17", parentId: "8", title: "Find the boat", depth: 3},
        {id: "18", parentId: "8", title: "Swim faster", depth: 3},
    ];
    const MAX_DEPTH: number = COMPLETE_MAP.map(node => node.depth!).reduce((acc, depth) => depth > acc ? depth : acc, 0);

    let currentDepth = 0;
    onMount(() => {
        const timeout = setInterval(() => {
            currentDepth = currentDepth + 1;
        }, 4000)
        return () => clearInterval(timeout);
    })

    function getMap(depth: number): AdventureNode[] {
        return COMPLETE_MAP.filter(node => node.depth! <= depth) as AdventureNode[];
    }

</script>
<div class="relative">
    <div class="inset-0 absolute z-20">
<!--        A cover so that users can't click on the map-->
    </div>
    {#key currentDepth}
        <Map adventureNodes={getMap(currentDepth%MAX_DEPTH+1)}/>
    {/key}
</div>