<script lang="ts">
    import type {AdventureNode} from "$lib/types";
    import {onMount} from "svelte";
    import {page} from "$app/stores";
    import {getAdventureNodes} from "$lib/backendService";
    import Map from "./Map.svelte";

    let adventureNodes: AdventureNode[] = [];

    onMount(() => {
        getAdventureNodes($page.params.id).then((nodes) => adventureNodes = nodes);
    })
</script>
{#if adventureNodes.length}
    <Map {adventureNodes}/>
{/if}