<script lang="ts">
    import type {AdventureNode} from "$lib/types";
    import {user} from "$lib/auth";

    export let choice: AdventureNode;
    $:classes = getClasses(choice);

    function getClasses(choice: AdventureNode): string {
        if (choice.userCreated)
            return "hover:bg-amber-400/20 hover:border-amber-400 ";
        if (choice.generated)
            return "hover:bg-success-700/10 hover:border-success-700 ";
        return "hover:bg-primary-500/50 hover:border-primary-700 ";
    }
</script>
{#if $user || choice.generated}
    <div class="relative p-1.5 lg:p-3 {classes}  rounded border-2 border-transparent hover:border-opacity-100  transition-all">
        <button on:click class="absolute inset-0 opacity-0"/>
        <p class="font-bold lg:text-xl">{choice.title}</p>
    </div>
    {:else}
    <div class="p-1.5 lg:p-3 rounded border-2 border-transparent hover:border-opacity-100  transition-all cursor-not-allowed">
        <p class="font-bold lg:text-xl text-surface-300">{choice.title}</p>
        <p class="text-xs text-surface-400">You must be signed in to follow this <b>new</b> path</p>
    </div>
{/if}
