<script lang="ts">

    import type {AdventureNode} from "$lib/types";
    import {getNodeChoices} from "$lib/backendService";
    import {faCircle} from "@fortawesome/pro-solid-svg-icons";
    import {createEventDispatcher} from "svelte";
    import {type Circle, getCirclePath, type Path} from "$lib/SvgPathUtils";

    export let adventureNodes: AdventureNode[];
    const cachedChoices = new Map<string, AdventureNode[]>();
    const eventDispatcher = createEventDispatcher();

    type ChoicedNode = AdventureNode & { choices: boolean[] };

    function getChoicedNodes(adventureNodes: AdventureNode[]): Promise<ChoicedNode[]> {
        const promises = adventureNodes.map(async (node, index) => {
            const nextNode = adventureNodes[index + 1] || {};
            return getChoicedNode(node, nextNode);
        });
        return Promise.all(promises);
    }

    async function getChoicedNode(adventureNode: AdventureNode, nextNode: AdventureNode): Promise<ChoicedNode> {
        const id = adventureNode.id;
        const choices = cachedChoices.has(id) ? cachedChoices.get(id)! : await getNodeChoices(id);
        cachedChoices.set(id, choices);
        return {...adventureNode, choices: choices.map(choice => choice.id === nextNode.id)};
    }

    const NODE_RADIUS = 5;
    const HORIZONTAL_MARGIN = 18;
    const VERTICAL_MARGIN = 6;

    function getMapData(choiceNodes: ChoicedNode[]): { paths: Path[], circles: Circle[] } {
        const paths: Path[] = [];
        const circles: Circle[] = [];
        for (let i = 0; i < choiceNodes.length; i++) {
            const node = choiceNodes[i];
            for (let j = 0; j < node.choices.length; j++) {
                const chosen = node.choices[j];
                const circle: Circle = getCircle(i, j, chosen, node.id + "-" + j);
                circles.push(circle);
                if (chosen && i < choiceNodes.length - 1) {
                    const nextNode = choiceNodes[i + 1];
                    const nextChoiceId = nextNode.choices.findIndex(choice => choice);
                    if (nextChoiceId >= 0) {
                        const nextCircle = getCircle(i + 1, nextChoiceId, true, nextNode.id + "-" + nextChoiceId);
                        const path = getCirclePath(circle, nextCircle,2);
                        path.stroke=CIRCLE_COLOR;
                        path["stroke-width"]=2;
                        paths.push(path);
                    }
                }
            }
        }
        return {paths, circles};
    }
    const CIRCLE_COLOR = '#3ccd74';
    function getCircle(column: number, row: number, chosen: boolean, id: string) {
        return {
            x: column * (NODE_RADIUS * 2 + HORIZONTAL_MARGIN) + NODE_RADIUS,
            y: row * (NODE_RADIUS * 2 + VERTICAL_MARGIN) + NODE_RADIUS,
            r: NODE_RADIUS,
            fill: chosen ? CIRCLE_COLOR : 'transparent',
            stroke: CIRCLE_COLOR,
            'stroke-width': 1,
            id: id
        };
    }
</script>
{#await getChoicedNodes(adventureNodes)}
{:then choiceNodes}
    {@const {circles, paths} = getMapData(choiceNodes)}
    <svg class="w-full h-[150px] p-4">
        {#each circles as circle (circle.id)}
            <circle cx={circle.x} cy={circle.y} r={circle.r} fill={circle.fill} stroke={circle.stroke}
                    stroke-width={circle['stroke-width']}/>
        {/each}
        {#each paths as path (path.id)}
            <path {...path}/>
        {/each}
    </svg>

{/await}