<script lang="ts">
    import type {AdventureNode} from "$lib/types";
    import DelayedText from "$lib/DelayedText.svelte";
    import {createEventDispatcher} from "svelte";
    import Fa from "svelte-fa";
    import {faArrowToTop, faBug, faLink, faRefresh, faSpinner, faVolumeHigh} from "@fortawesome/pro-solid-svg-icons";
    import {getToastStore} from "@skeletonlabs/skeleton";
    import {parseSections} from "$lib/ParseUtils";
    import {user} from "$lib/auth";
    import {getTtsUrl} from "$lib/backendService";

    export let node: AdventureNode
    export let animate = true;
    type section = { text: string, bold: boolean };
    const eventDispatcher = createEventDispatcher();
    const toastStore = getToastStore();
    $:sections = parseSections(node.content!);
    let sectionCursor = 1;
    let done = false;
    let showSummary = false;
    let playLoading = false;


    function handleSectionDone() {
        sectionCursor++;
        if (sectionCursor > sections.length) {
            done = true;
            eventDispatcher("done");
        }
    }

    function copyLink(node: AdventureNode) {
        window.navigator.clipboard.writeText(window.location.host + `/adventure/${node.adventureId}?from=${node.id}`);
        toastStore.trigger({message: "Link copied to clipboard", background: "variant-filled-success"});
    }

    async function playTts() {
        try {
            playLoading = true;
            const mp3Url = node.ttsUrl || (await getTtsUrl(node.id)).url;
            const audio = new Audio(mp3Url);
            await audio.play();
            playLoading = false;
        } catch (e) {
            playLoading = false;
            console.error(e)
            toastStore.trigger({message: "Failed to play audio", background: "variant-filled-error"});
        }
    }
</script>
<div class="space-y-5">
    {#if node.title}
        <div class="p-4 bg-surface-500">
            <p class="font-bold">{node.title}</p>
        </div>
    {/if}
    <div>
        <p class="whitespace-pre-wrap">
            {#each sections.slice(0, sectionCursor) as section}
                <span class:font-bold={section.bold} class:italic={section.italic}>
                    {#if animate}<DelayedText on:done={handleSectionDone} on:tick
                                              text={section.text}/>{:else}{section.text}{/if}
                </span>
            {/each}
        </p>
        {#if done || !animate}
            <div class="flex justify-end gap-x-2">
                {#if $user || node.ttsUrl}
                    {#if playLoading}
                        <button disabled>
                            <Fa icon={faSpinner} spin={true} class="mr-1 inline-block"/>
                            Play
                        </button>
                    {:else}
                        <button on:click={()=>playTts()}>
                            <Fa icon={faVolumeHigh} class="mr-1 inline-block"/>
                            Play
                        </button>
                    {/if}
                {/if}
                <button on:click={()=>eventDispatcher("reset")}>
                    <Fa icon={faArrowToTop} class="mr-1 inline-block"/>
                    Reset here
                </button>
                <button on:click={()=>copyLink(node)}>
                    <Fa icon={faLink} class="mr-1 inline-block"/>
                    Copy link
                </button>
                <button on:click={()=>showSummary=true}>
                    <Fa icon={faBug} class="mr-1 inline-block"/>
                    Show Tech details
                </button>
                {#if $user}
                    <button on:click={()=>eventDispatcher("regenerate")}>
                        <Fa icon={faRefresh} class="mr-1 inline-block"/>
                        Regenerate
                    </button>
                {/if}
            </div>
        {/if}
    </div>
    {#if showSummary}
        <p class="whitespace-pre overflow-x-scroll font-mono p-2 text-sm variant-ghost-secondary">
            {node.summary}
        </p>
    {/if}
</div>
