<script lang="ts">
    import {getRemainingCredits} from "$lib/backendService";
    import {onMount} from "svelte";

    let remaining = 0;
    let total = 0;
    let time = Date.now();
    let resetAt = new Date();
    onMount(() => {
        updateCredits();
        const updateInterval = setInterval(updateCredits, 1000 * 30);
        const timeInterval = setInterval(() => time = Date.now(), 1000);
        return () => {
            clearInterval(updateInterval);
            clearInterval(timeInterval);
        }
    })

    async function updateCredits() {
        const res = await getRemainingCredits();
        remaining = res.remaining;
        total = res.total;
        resetAt = new Date(res.resetsAt);
    }

    function formatCountDown(resetAt: Date, time: number) {
        const diff = resetAt.getTime() - time;
        if (diff < 1000) return "--h --m --s"
        const seconds = Math.floor(diff / 1000);
        const minutes = Math.floor(seconds / 60);
        const hours = Math.floor(minutes / 60);
        return `${formatCountdownNumber(hours, 10000)}h ${formatCountdownNumber(minutes, 60)}m ${formatCountdownNumber(seconds, 60)}s`;
    }

    function formatCountdownNumber(num: number, mod: number): string {
        const value = num % mod;
        return value < 10 ? `0${value}` : `${value}`;
    }
</script>
<div class="flex flex-col items-center">
    <div class="space-x-2 text-xs">
        {#if total > 0}
            <span>{remaining}</span>
            <span>/</span>
            <span>{total}</span>
        {:else}
            <span>--</span>
            <span>/</span>
            <span>--</span>
        {/if}
    </div>
    <p class="text-xs text-surface-300">Credits Remaining</p>
    {#if total > remaining}
        <p class="text-xs text-surface-300 font-mono">Reset In {formatCountDown(resetAt, time)}</p>
    {/if}
</div>
