<script>
    import {signOut, user} from "$lib/auth"
    import Credits from "$lib/header/Credits.svelte";
</script>
<style lang="postcss">
    a, p {
        @apply text-lg lg:text-xl;
    }
</style>
<div class="flex gap-x-3 p-3 pr-5 bg-surface-500 stick top-0 items-center">
    <h3 class="font-bold text-lg lg:text-2xl font-mono">CYOA-AI</h3>
    <a href="/adventure">Adventures</a>
    {#if !$user}
        <a href="/register">Register</a>
        <a href="/login">Sign In</a>
    {/if}

    <div class="flex-grow"></div>
    {#if $user}
        <div class="px-2 ">
            <Credits/>
        </div>
        <p>{$user.displayName || $user.email}</p>
        <button on:click={()=>signOut()}>Sign Out</button>
    {/if}
</div>