<script lang="ts">
    import {authenticate, githubSignIn, googleSignIn} from "$lib/auth";
    import {goto} from "$app/navigation";
    import {faGithub, faGoogle} from "@fortawesome/free-brands-svg-icons";
    import Fa from "svelte-fa";

    let email = "";
    let password = "";
    let error: string | null = null;

    async function login(type: 'password' | 'github' | 'google' = 'password') {
        try {
            if (type === 'password')
                await authenticate(email, password);
            else if (type === 'github')
                await githubSignIn();
            else if (type === 'google')
                await googleSignIn();

            await goto("/adventure");
        } catch (e) {
            error = e.message || e;
        }
    }
</script>

<div class="max-w-[600px] mx-auto space-y-2 my-3">
    <h1 class="text-3xl font-bold">Sign In</h1>
    {#if error}
        <div class="variant-glass-error p-2">

            <p class="">{error}</p>
        </div>
    {/if}
    <form on:submit|preventDefault={()=>login()} class="space-y-3">
        <div>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="input" bind:value={email}/>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="input" bind:value={password}/>
        </div>
        <button type="submit" class="btn variant-filled w-full">Login</button>
        <div class="flex items-center gap-x-4">
            <button type="button" class="btn variant-glass flex-grow" on:click={()=>login("github")}>
                <Fa icon={faGithub}/>&nbsp;Sign in with Github
            </button>
            <button type="button" class="btn variant-glass flex-grow" on:click={()=>login('google')}>
                <Fa icon={faGoogle}/>&nbsp;Sign in with Google
            </button>
        </div>
    </form>
</div>