<script lang="ts">
    import type {Adventure} from "$lib/types";
    import {onMount} from "svelte";
    import {generateAdventure, getAdventures} from "$lib/backendService";
    import {goto} from "$app/navigation";
    import Fa from "svelte-fa";
    import {faLoader} from "@fortawesome/pro-solid-svg-icons";
    import {browser} from "$app/environment";
    import {user} from "$lib/auth";

    let adventures: Adventure[] = [];
    let inputPrompt = "";
    let loading = false;

    onMount(() => {
        getAdventures().then(a => adventures = a.sort((a, b) => a.title.localeCompare(b.title)));
    })

    async function generate() {
        if (inputPrompt === "") {
            alert("Please enter a prompt");
            return;
        }
        loading = true;
        const adventure = await generateAdventure(inputPrompt);
        await goto(`/adventure/${adventure.id}`);
        loading = false;
    }
</script>

<div class="m-4 space-y-10">
    <div class="flex flex-wrap gap-3">
        {#each adventures as adventure}
            <div class="basis-full lg:basis-auto relative flex flex-col grow-0 shrink-1 flex-wrap p-3 rounded border hover:bg-primary-600 hover:scale-105 transition-all">
                <a href="/adventure/{adventure.id}" class="absolute inset-0 opacity-0">{adventure.title}</a>
                <span class="font-bold text-xl">{adventure.title}</span>
                <div class="flex flex-wrap max-w-full shrink-1 grow-0 max-w-[300px]">
                    {#each adventure.tags as tag}
                        <p class="badge">{tag}</p>
                    {/each}
                </div>
            </div>
        {/each}
    </div>
    <div>
        {#if $user}
            <h3 class="text-xl font-bold">Start your own adventure</h3>
            <textarea bind:value={inputPrompt} placeholder="Write a choose your own adventure story about..."
                      class="input"></textarea>
            {#if inputPrompt !== "" && !loading}
                <button on:click={generate} class="btn variant-filled">Generate</button>
            {:else if loading}
                <button disabled class="btn variant-filled flex items-center gap-x-2">Generate
                    <Fa icon={faLoader} spin={true} size="sm"/>
                </button>
            {:else}
                <button disabled class="btn variant-filled">Generate</button>
            {/if}
            {:else}
            <h3 class="text-xl font-bold text-surface-300">Start your own adventure</h3>
            <textarea class="input" disabled placeholder="You must be signed in to start an adventure"></textarea>
            <p><a href="/login" class="underline">Sign in</a> or <a href="/register" class="underline">Register</a></p>
        {/if}
    </div>
</div>